<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.soul.fileattente">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_file_attente"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_file_attente_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FileAttente"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".view.MainActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".view.EcranGenrationNumeroSuivantActivity"
            android:exported="false" />
        <activity
            android:name=".view.EcranResumeActivity"
            android:exported="false" />
        <activity
            android:name=".view.EcranPrincipalActivityList"
            android:exported="false" />
        <activity
            android:name=".view.EcranPrincipalMonitoringActivityList"
            android:exported="false" />
        <activity
            android:name=".view.EcranPrincipalActivity"
            android:exported="false" />
        <activity
            android:name=".view.EcranPrincipalMonitoringNumeroFileActivityList"
            android:exported="false" />
        <activity
            android:name=".view.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name="org.eclipse.paho.android.service.MqttService" />
    </application>
</manifest>